$col-purple-dark: #312450;
$col-purple-med: #493382;
$col-purple-light: #5e42a6;
$col-purple-pale: #654aaa;

$col-pink-dark: #b74e91;
$col-pink-med: #ffffff;
$col-pink-light: #ba5696;
$col-pink-pale: #ffffff;

$col-blue-dark: #4c4696;
$col-blue-med: #ffffff;
$col-blue-light: #ffffff;
$col-blue-pale: #ffffff;

$nav-bar-height: 100px;

$boot-lg: 1200px;
$boot-md: 992px;
$boot-sm: 768px;
$boot-xs: 480px;
$boot-xxs: 389px;
$boot-xxxs: 282px;







