<div class="navigation-container">
    <nav class="navigation-menu">
        <ul class="nav-brand">
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">Brent Edwards Online</a>
                <div class="selected"></div>
            </li>
        </ul>

        <ul class="menu-list">
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
                <div class="selected active"></div>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/tech']">
                    <span class='glyphicon glyphicon-apple'></span> Tech
                </a>
                <div class="selected"></div>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/fitness']">
                    <span class='glyphicon glyphicon-heart'></span> Fitness
                </a>
                <div class="selected"></div>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/work']">
                    <span class='glyphicon glyphicon-wrench'></span> Work
                </a>
                <div class="selected"></div>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/qualifications']">
                    <span class='glyphicon glyphicon-education'></span> Qualifications
                </a>
                <div class="selected"></div>
            </li>
        </ul>
    </nav>
</div>
