$background-purple-dark: #312450;
$background-purple-med: #312450;
$background-purple-light: #5e42a6;
$background-purple-pale: #654aaa;

$background-pink-dark: #b74e91;
$background-pink-med: #ffffff;
$background-pink-light: #ba5696;
$background-pink-pale: #ffffff;

$background-blue-dark: #4c4696;
$background-blue-med: #ffffff;
$background-blue-light: #ffffff;
$background-blue-pale: #ffffff;







